body {
	font: 15px 'HelveticaNeue', arial, sans-serif;
	background:#fff url(../img/back.png) 50% 0%;
	overflow-x:auto;
}
html, body {
	width:100%;
	height:100%;
	min-width: 1000px;
}
* {
	margin:0;
	padding:0;
	-moz-box-sizing:border-box;
		 box-sizing:border-box;
}
@font-face {
	font-family: 'HelveticaNeue';
	font-style: normal;
	font-weight: normal;
	src: local('../fonts/HelveticaNeueCyr-Light'), url('../fonts/HelveticaNeueCyr-Light.woff') format('woff');
}
@font-face {
    font-family: "HelveticaNeueCyr-ThinItalic";
    src:  url("../fonts/HelveticaNeueCyr-ThinItalic.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaNeueCyr-Medium";
    src:  url("../fonts/HelveticaNeueCyr-Medium.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaNeueCyr-Bold";
    src:  url("../fonts/HelveticaNeueCyr-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
	font-family: 'HelveticaNeueCyr-UltraLight';
	font-style: normal;
	font-weight: normal;
	src: local('../fonts/HelveticaNeueCyr-UltraLight'), url('../fonts/HelveticaNeueCyr-UltraLight.woff') format('woff');
}
.clear { clear:both; }
.clearfix:after {
    font-size: 0px;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
    clear: both;
}
a { color:#000; outline:none; text-decoration:none; }
a img { border:none; }
img, input, textarea, button{ max-width:100%; height: auto; }
a:hover { color:#d40000; }
input:focus, button:focus, textarea:focus  { outline:none; }
ul  { list-style:none; }
b, strong {font-family: "HelveticaNeueCyr-Medium"; font-weight: normal; }
em, i { font-family: "Times New Roman"; }
h1, h2, h3, h4, h5, h6 {font-weight: normal; font-family: "HelveticaNeueCyr-Bold";}
/*************************/

#header {
	background: #ededed url(../img/header.png) 50% -23px no-repeat;
	border-bottom: 5px solid #d40000;
	padding: 75px 20px 20px;
}
	.header {
		width: 1020px;
		margin: 0 auto;
		text-align: center;
		position: relative;
	}
	.header_block {position: relative;z-index:1;margin: 0 35px 40px;text-align:right;}
	a.logo {
		display: inline-block;
		vertical-align: middle;
	}
	.edition {
		display: inline-block;
		vertical-align: middle;
		padding: 20px;
		background: rgba(255, 255, 255, 0.7);
		color: #d40000;
		margin-left: 20px;
		text-align: center;
	}
	.edition strong {
		font-size: 45px;
		line-height: 35px;
		display: block;
		font-family: "HelveticaNeueCyr-Bold";
	}
	.edition span {
		font-size: 20px;
		letter-spacing: 25px;
		margin-right: -25px;
	}
	.header ul {
		font-size: 12px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		position: relative;
		z-index:1;
		white-space: nowrap;
	}
	.header li {
		position: relative;
		
	}
	.main_list > li {
		background: rgba(255, 255, 255, 0.7);
		float: left;
	}
	.main_list > li:after {
		content: '/';
		color: #d40000;
		position: absolute;
		top: 0;
		left: 100%;
		line-height: 35px;
		font-size: 14px;
		z-index:2;
	}
	.main_list > li:last-child:after {content: "";}
	.main_list a {
		display: block;
		padding: 10px 9px;
		margin: 0 5px;
		height: 34px;
	}
	.main_list .active > a {
		color: #fff;
		background: #d40000;	
		position: relative;
	}
	.main_list .active > a:before {
		content: "";
		border-bottom: 34px solid #d40000;
		border-left: 17px solid transparent;
		border-right: 0px solid transparent;
		position: absolute;
		right: 100%;
		top: 0;
		z-index:2;
	}
	.main_list .active > a:after {
		content: "";
		border-top: 34px solid #d40000;
		border-right: 17px solid transparent;
		border-left: 0px solid transparent;
		position: absolute;
		left: 100%;
		top: 0;
		z-index:2;
	}
	.main_list li:first-child.active > a:before, .main_list li:last-child.active > a:after  {
		border: none;
		width:5px;
		height:100%;
		background: #d40000;
	}
	.main_list  ul {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		background: #fff;
		box-shadow: 5px 5px 35px 0 rgba(0, 0, 0, 0.11);
		white-space: nowrap;
		text-align: left;
	}
	.main_list li:hover ul {
		display: block;
	}
	.main_list ul li {
		display: block;
	}
	.main_list  ul a {display:block;border-top: 1px solid #fff;border-bottom: 1px solid #fff;margin:0;}
	.main_list  ul a:hover {
		background: #f5f5f5;
		border-color: #f1f1f1;
	}
#container {
	padding: 10px 0 50px;
	min-width: 1000px;
	overflow-x: hidden;
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.top_block {
	width: 1000px;
	margin: 0 auto;
	font-size: 12px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}
.main_info {text-align: center;margin: 100px 0 70px;position: relative;}
.notice {
	position: absolute;
	text-align: center;
	font-size: 16px;
	line-height: 26px;
	top:0;
	left: 50%;
	text-transform: none;
	margin: -15px 0 0 190px;
	width: 270px;
}
.notice span {position: relative;}
.notice:before {
	content: "";
	width: 595px;
	height: 190px;
	background: url(../img/marker.png);
	position: absolute;
	top: -5px;
	left: 0;
}
.wheather {float:left;}
.exchange {float:right;}
.exchange b {margin-left: 5px;}
b.up:after, b.down:after {
	content: "";
	width:5px;
	height:15px;
	background: url(../img/sprite.png);
	display: inline-block;
	vertical-align: middle;
	margin-left: 2px;
}
b.up:after {
	background-position:0 -33px;
}
b.down:after {
	background-position:-8px -33px;	
}
.new {float: left;}
.new:after, .ar_header:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 15px;
	background:url(../img/sprite.png);
	margin-left: 10px;
	margin-top: -2px;
}
.new:after {background-position: -16px 0;}
.new:hover:after {background-position: 0px 0;}
.ar_header:after {background-position: -15px -16px;}
.ar_header:hover:after {background-position: 1px -16px;}
.archive {float:right;position: relative;z-index:10;}
.ar_header {cursor: pointer;}
.archive > div {
	width: 140px;
	display: none;
	position: absolute;
	top: 100%;
	right:0;
	margin-top:10px;
}
.header_1 {
	display: inline-block;
	font-family: 'Times New Roman', serif;
	font-size: 30px;
	border: 2px solid #000;
	padding: 20px;
	margin-top: -30px;
}
.header_1 span {color:#d40000;margin-left:5px;}
a.download {
	color:#fff;
	background:#d40000;
	display: inline-block;
	padding: 15px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}
.download:hover {background:#e80000;}
.download:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 44px;
	background:url(../img/sprite.png) -89px -48px;
	margin-right: 10px;
}
.articles {
	width: 750px;
	margin: 0 auto;
}
.article {
	background: #fff;
	margin: 35px 0;
}
.article_img {
	display: block;
	position: relative;
	line-height: 0px;
}
.article_img.dark:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
}
.article_img .num {
	position: absolute;
	top: 40px;
	left: 40px;
	color:#fff;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: 0.02em;
}
.article_header_container {
	position: absolute;
	top: 25px;
	left: 25px;
	right: 25px;
	bottom: 25px;
	margin: auto;
	padding: 25px;
	border: 3px solid #fff;
}
.article_header  {
	display: table;
	text-align: center;
	width: 100%;
	height: 100%;
}
.article_header > div {
	display: table-cell;
	vertical-align: middle;
}
.article_header h2 {
	display: inline-block;
	padding: 15px;
	border: 4px solid #fff;
	font-size: 35px;
	line-height: 35px;
    letter-spacing: 0.02em;
	font-family: 'Times New Roman', serif;
	color:#fff;
	text-transform: uppercase;
}
.article_text {
	padding: 15px 25px 30px 25px;
	font-size: 15px;
}
.article_text p {
	line-height:22px;
}
.article_intro {
	font-size: 19px;
	margin-bottom: 20px;
}
blockquote {
	font-size: 30px;
	font-family: 'Times New Roman', serif;
	text-align: center;
	margin: 20px 0;
}
.btn_div {text-align: center;margin-top: 40px;}
a.more {
	text-transform: uppercase;
	font-size: 12px;
	display: inline-block;
	padding: 20px;
	border: 2px solid #000;
	letter-spacing: 0.02em;
}
a.more:hover {
	border-color: #d40000;
}
.pagination {
	margin: 50px 0;
	text-align: center;
}
.arrow {
	display: inline-block;
	vertical-align: middle;
	font-size: 22px;
}
.arrow.a_left:after, .arrow.a_right:before {
	content: "";
	width: 34px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background: url(../img/sprite.png);
	margin-top: -5px;
}
.arrow.a_left:after {
	background-position: -33px 0;
	margin-left: 20px;
}
.arrow.a_right:before {
	background-position: -33px -24px;
	margin-right: 20px;
}
.pagination ul {
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px;
}
.pagination li {
	display: inline-block;
	vertical-align: middle;
}
.pagination li a {
	font-size: 28px;
	display: block;
	padding: 15px;    
	letter-spacing: 0.02em;
}
.pagination .active a {
	font-family: "HelveticaNeueCyr-Medium";
	background: #ca0021;
	color:#fff;
}
.certificate {
	display: block;
	margin: 0 auto;
}
.main_map {
	margin: 50px 0;
}
.contacts {
	text-align: center;
}
.address:before, .phone:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	background:url(../img/sprite.png);
	width: 40px;
	height: 40px;
	margin-right: 10px;
}
.address:before {
	background-position:-69px 0;
}
.phone:before {
	background-position:-112px 0;
}
.person {
	width: 49%;
	display: inline-block;
	vertical-align:top;
	padding:0 85px 0 120px;
	margin: 40px 0;
}
.person h2 {
	margin-bottom: 20px;
	font-size: 21px;
}
.person p {margin: 10px 0;}
.person span {
	color: #717171;
	display: inline-block;
	vertical-align: middle;
	width: 100px;
}
.table {
	margin: 60px 0 40px;
	position: relative;
}
.table > div {
	width: 50%;
	float: left;
	position: relative;
}
.table img {
	box-shadow:1px 1px 35px 0 rgba(0,0,0,0.16);
}
.hint {
	font-size: 12px;
	margin: 40px 0 0 2px;
	width: 360px;
}
table {
	border-collapse: collapse;
	font-size: 14px;
	width: 440px;
}
th {
	padding: 15px 20px;
	font-family: "HelveticaNeueCyr-Medium"; 
	font-weight: normal;
	text-align: left;
}
td {
	background: #fff;
	padding: 15px 20px;
	border: 1px solid #f1f1f1;
	border-left: none;
}
tr:first-child td {border-top: none;}
tr:last-child td {border-bottom: none;}
td:last-child, .table_div > table > tbody> tr > td:nth-child(2) {border-right: none;}
.table td:nth-child(2) {text-align: right; padding-right: 0;}
.table td:nth-child(1) {text-align: center;}
.desc { display: inline-block; vertical-align: middle;}
.desc  > span { 
	padding: 5px 10px; 
	text-decoration: underline; 
	cursor: pointer; 
	display: block;
	position: relative;
	letter-spacing: 0.45px;
}
.desc  > span:hover {text-decoration: none;}
.desc i {font-family: 'HelveticaNeue', sans-serif; font-style: normal;}
.selected  > span {text-decoration: none; background:#d40000; color:#fff; }
.selected  > span:after {
	content: "";
	border-bottom: 5px solid #fff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	position: absolute;
	bottom:0;
	left:50%;
	margin-left: -2.5px;
}
.desc > div {
	position: absolute;
	left: -20px;
	width: 550px;
	font-size: 13px;
	display: none;
	z-index: 2;
}
.table_div {z-index:10;}
.selected > div{display: block;}
.desc strong {font-size: 15px;}
.desc table {width: 100%;table-layout: fixed;}
.desc td {padding: 0;text-align: center !important;border-top:none;border-bottom:none; vertical-align: top;}
.desc th {padding: 20px 15px;background:#fff;text-align:center;border-left:1px solid #f1f1f1;}
.desc th:first-child {border: none;}
.desc th.active {background:#f1f1f1;}
.desc tr:nth-child(2) a {border-bottom:1px solid #f1f1f1;}
.desc tr:last-child td {background: transparent;border: none;}
.desc tr:nth-child(2) td.active, .desc tr:nth-child(3) td.active, .desc tr:nth-child(4) td.active {
	border-left: 5px solid #d40000;
	border-right: 5px solid #d40000;	
}
.desc th.active {
	
}
.desc a {
	display: block;
	padding: 15px;
	color:#000;
}
.desc .active a {
	padding: 15px 10px;
}
.desc tr:nth-child(2) td a {border-top: 1px solid #f1f1f1; }
.desc tr:nth-child(2) td.active a {border-top: 5px solid #d40000; padding-top: 11px;}
.desc .btn {
	background: #d40000;
	color:#fff;
	text-transform: uppercase;
	visibility: hidden;
}
.active .btn {visibility: visible;}
.close {
	position: absolute;
	top:5px;
	right:5px;
	width: 15px;
	height: 15px;
	background: url(../img/sprite.png) -90px -98px;
	cursor: pointer;
}
.example {position: relative;line-height: 0px;}
.example.selected:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.64);
}
.sq {
	background:#d40000;
	position: absolute;
	top:347px;
	right:17px;
	z-index:2;
	display: none;
	width: 152px;
	height: 75px;
}
.selected .sq {display: table;}
.sq > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color:#fff;
	font-size: 13px;
}
.btm_info table {float: left;}
.btm_info div {
	float: right;
	width: 50%;
	padding-left: 70px;
	font-size: 14px;
}
.btm_info p {margin: 15px 0;}
.colors {letter-spacing: 0.02em;}
.cyan {color:#00b1b3}
.magenta {color:#e80099}
.yellow {color:#ffd40b}
.black {color:#010101}

form {
	width: 400px;
	margin: 0 auto;
	display: block;
	text-align: center;
}
.form_content {
	background: #fff;
	padding: 40px;
	margin: 50px 0 20px;
	text-align: left;
}
form input {
	width :100%;
	border: 1px solid #959595;
	font-family: "HelveticaNeue";
	font-size: 15px;
	color:#4d4d4d;
	padding: 10px;
	margin-bottom: 25px;
}
form textarea {
	width :100%;
	border: 1px solid #959595;
	font-family: "HelveticaNeue";
	font-size: 15px;
	color:#4d4d4d;
	padding: 10px;
	height: 100px;
	max-width: 100%;
}
form p {font-size: 12px;}
form button {
	display: inline-block;
	padding: 15px;
	background:#d40000;
	text-transform: uppercase;
	color:#fff;
	font-size: 12px;
    letter-spacing: 0.02em;
	font-family: "HelveticaNeue";
	border: none;
	margin-top: 60px;
	cursor: pointer;
}
form button:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 44px;
	background:url(../img/sprite.png) -45px -149px;
	margin-right: 10px;
}
form button:hover {background:#e80000;}
.order_table {
	width: 750px;
	margin: 0 auto;
	padding-left: 55px;
}
.order_table table {width: 100%; text-align: center;font-size: 13px;margin-bottom: 20px;}
.order_table th {text-align: center; background:#fbfbfb; border-right: 1px solid #f1f1f1;}
.order tr:hover td {background: #f5f5f5;}
.extended:hover span, .extended:hover b {position: relative;}
.extended:hover span:after, .extended:hover b:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	right:0;
	margin: 5px auto 0;
	background:url(../img/sprite.png) -89px -115px;
	width: 17px;
	height: 10px;
}
.order td:last-child, .order th:last-child {
	padding: 0;
	width: 55px;
	visibility: hidden;
	border: none;
	background: none !important;
}
.order  td:nth-last-child(2), .order th:nth-last-child(2) {
    border-right: none;
}
.order .hidden {display: none;}
.extended:hover {cursor: pointer;}
.order tr:hover td:last-child {
	visibility: visible;
}
.delete {
	display: block;
	width: 55px;
	height: 55px;
	background: #d40000;
	position: relative;
}
.delete:after {
	content: "";
	position: absolute;
	width: 45px;
	height: 44px;
	background:url(../img/sprite.png) 0px -149px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.add {
	font-size: 12px;
	text-transform: uppercase;
    letter-spacing: 0.02em;
}
.add:before {
	content: "";
	width:18px;
	height:18px;
	background: url(../img/sprite.png) 0 -197px;
	display: inline-block;
	vertical-align: middle;
	margin:-2px 5px 0 0;
}
.total {
	float: right;
	margin-right: 55px;
}
.total strong {font-size: 20px;}
#main_banner {
	text-align: center;
	line-height: 0px;
}
#main_banner a {
	display: block;
	position: relative;
	left:50%;
	margin-left: -812px;
	max-width: 1624px;
}
#footer {
	background: #dadada;
	padding: 40px 0;
}
.footer {
	width: 1000px;
	margin: 0 auto;
	font-size: 12px;
	text-transform: uppercase;
    letter-spacing: 0.02em;
}
.footer_item {
	display: inline-block;
	vertical-align: top;
	padding-right: 90px;
}
.footer_item:last-child {padding:0;}
.footer_item .f_map {
	margin-top:22px;
}
.f_header {
	font-family: "HelveticaNeueCyr-Medium";
	margin-bottom: 10px;
}
.footer_item li a {
	display: block;
	padding: 6px 0;
	color: #717171;
}
.footer_item li a:hover {
	color: #d40000;
}
.footer_item p span {
	color: #717171;
	margin-right: 5px;
}
.footer_item p {
	padding: 6px 0;
}
.footer_item p i {
	color: #d40000;
	font-family: "HelveticaNeueCyr-Medium";
	font-style: normal;
}
.f_order_block {margin: 20px 0 69px;position: relative;}
.f_order_block input[type=text] {
	width:100%;
	background:#fff;
	border:none;
	padding: 21px 60px 21px 15px;
	font-size: 13px;
	letter-spacing: 0.02em;
	font-family: "HelveticaNeue";
	
}
.f_order_block input[type=submit] {
	position: absolute;
	border: none;
	height: 100%;
	width: 57px;
	top:0;
	right:0;
	background: #000 url(../img/sprite.png) 1px -72px;
	text-indent:-9999px;
	cursor:pointer;
}

.newspapers > div {
	display: inline-block;
	vertical-align: middle;
	width: 24.5%;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0.2px;
	margin-bottom: 20px;
}
.news_date {text-align: left;font-size: 16px;}
.news_date span.month {
	font-size: 45px;
	display: inline-block;
	vertical-align: top;
	line-height: 35px;
}
a.read, a.download_link {
	display: block;
	text-transform: uppercase;
	line-height: 30px;
	color:#000;
}
a.read:after, a.download_link:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	margin-left: 5px;
	background: url(../img/sprite.png);
}
a.read:after {background-position: -54px -197px;}
a.download_link:after {background-position: -36px -197px;}
a.read:hover:after {background-position: -54px -215px;}
a.download_link:hover:after {background-position: -36px -215px;}
.newspapers .cover {
	display: block;
	margin: 10px;
	box-shadow: 1px 1px 35px 0 rgba(0,0,0,0.16);
}